</br>
<h1>Home Page</h1>

<div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Hi</h1>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <h1>Sup</h1>
          </div>
          <div class="col-3">
            <h1>Doh</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <h1>Sup</h1>
          </div>
          <div class="col-3">
            <h1>Doh</h1>
          </div>
        </div>
      </div>
    </div>
  </div>


<br />
<div class="row feature text-center">
    <div class="col-12 col-sm">
      <%= link_to photos_path do  %>
       <i class="fas fa-camera-retro"></i>
      <% end %>
      <br />
      <p>Share your beautiful faces, ladies!.</p>
    </div>

    <div class="col-12 col-sm">
      <h3>Music</h3>
      <br />
      <p>Totes diggin a tune? Let's hear it!</p>
    </div>

    <div class="col-12 col-sm">
      <h3>Blog</h3>
      <br />
      <p>Spill the T, gurl!</p>
    </div>
</div>

<br />
  <div class="row feature text-center">
    <div class="booyah-box col-6 offset-1">
      <h2>Placeholder for Latest Blog</h2>
    </div>

    <div class="booyah-box col-3 offset-1">
      <h2>Placeholder for rTunes</h2>
    </div>
  </div>
 </div>
