<div class="booyah-box col-8 offset-2  mt-5">
  <h1>Share a Photo</h1>
  <%= simple_form_for @photo do |f| %>
    <%= f.input :image %>
    <%= f.input :caption %>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  <% end %>
 </div>
