#page {
  margin-top: 40px;
  min-height: 100px;
  clear: both;
  float: left;
  width: 100%;
}

#page, .container {
  max-width: 1170px;
  min-width: 240px;
}

#page, .container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}