@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
}

h1 {
  font-family: 'Baloo Bhai', cursive;
}

body {
  background: image_url('stripesbkgd.png');
}
