@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.navbar {
  font-family: "candalregular", sans-serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background-color: #B7A7C8;
  }

.navbar-inverse a.navbar-brand {
  font-family: "candalregular", sans-serif;
  font-weight: 100;
  font-size: 50px;
  color: #463ba8;
  letter-spacing: -5.5px;
}

.nav-link {
  color: #463ba8;
}

h1 {
  font-family: 'Baloo Bhai', cursive;
}

h2 {
  font-family: 'Open Sans';
  font-weight: 600;
}

body {
    background: image_url('powbkgd.png');
    font-family: 'Sans Open', sans-serif;
   }

   .booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: image_url('booyah.jpg');
    padding: 10px;
    background-color: whitesmoke;
  }

  .booyah-box h2, .booyah-box h1 {
    margin: 10px;
  }

  .feature {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a {
  color: rgb(53, 52, 52);
  text-decoration: none;
  background-color: transparent;
}

.btn {
  color: white;
  background-color: #0E7B81;
  border-color:  #0E7B81;
  ;
}