@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

.navbar {
  font-family: "candalregular", sans-serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background-color: #B7A7C8;
  }

.navbar-inverse a.navbar-brand {
  font-family: "candalregular", sans-serif;
  font-weight: 100;
  font-size: 50px;
  color: #463ba8;
  letter-spacing: -5.5px;
}

.nav-link {
  color: #463ba8;
}

h1 {
  font-family: 'Baloo Bhai', cursive;
}

h2 {
  font-family: 'Open Sans';
}

body {
    background: image_url('powbkgd.png');
    font-family: 'Sans Open', sans-serif;
   }

   .booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: image_url('booyah.jpg');
    border: 1px solid rgb(158, 157, 156);
    border-color: #bdbdb8 #bebebd #bebebd #bdbdb8;
    padding: 10px;
    background-color: whitesmoke
  }

  .booyah-box h2, .booyah-box h1 {
    margin: 10px;
  }

  .feature {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
